.navbar{
    height: 75px;
}
.navbar-nav {
    margin-left: auto;
}
#navbarSupportedContent li{
    /* margin-left: 2px; */
    /* margin-right: 5px; */
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: large;
    color: white;

}
.navbar-brand{
    color: white;
}
.navbar-brand:hover {
    color:grey;
}

#header1{
    background-color: black !important;
    color: white !important;
}
.nav-link {
    color: white;
}

.nav-item>a:hover {
    color:grey;
}
.active a{
    color:yellow !important;
  }
#navarbar_title{
   margin-right: 20%;
   font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
   font-size: x-large;
   font-weight: bolder;
   /* color: yellow; */
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item
{background-color: black !important;
    color: white !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover
{background-color: grey !important;
}

#ourGroup{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 768px) {
    .navbar{
     height: 55px;
    } 
    .bg-black1{background-color: darkcyan;
    }
    .navbar-brand{
    margin-top: 1px;
    }
    .navbar-header {
       float: none;
    }
    .navbar-collapse{
       /* position: absolute; */
       display: block;
       padding-top: 1%;
       background-color: black;
      
       z-index: 999;
    }
    .nav-item>a:hover {
     color:grey;
    }
    .active a{
     color:yellow !important;
    }
    
    } 
    
/* openings */
#openings{
    padding: 30px;
    font-family: 'Raleway';
    

}
#openings h3{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    /* border: 2px solid grey;
    border-radius: 5px;
    background-color: grey;
    color: white; */
}