.navbar{
    height: 75px;
}
.navbar-nav {
    margin-left: auto;
}
#navbarSupportedContent li{
    /* margin-left: 2px; */
    /* margin-right: 5px; */
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: large;
    color: white;

}
.navbar-brand{
    color: white;
}
.navbar-brand:hover {
    color:grey;
}

#header1{
    background-color: black;!important
    color: white !important;
}
.nav-link {
    color: white;
}

.nav-item>a:hover {
    color:grey;
}
.active a{
    color:yellow !important;
  }
 
#navarbar_title{
   margin-right: 20%;
   font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
   font-size: x-large;
   font-weight: bolder;
   /* color: yellow; */
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item
{background-color: black !important;
    color: white!important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover
{background-color: grey !important;
}

#ourGroup{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: black;
    color: white;
}
/* Body styling */
body{
    background-image: url("../images/researchBkg.png");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
 
}
#researchCategory{
    padding-top: 30px;
    text-align: justify;
    font-family: 'Raleway';
    font-size: 18px;
  
}
#researchCategory p{
    font-weight: bold;
    /* font-style: italic; */
}
#researchCategory h3{
    font-family: 'Raleway';
    font-weight: bolder;
    
}
#researchCategory li{
    font-family: 'Raleway';
    font-size: large;
    margin-bottom: 15px;
}
.column{
    float:left;
    width: 350px;
    height: 150px;
}