#navbarSupportedContent li{
    /* margin-left: 2px; */
    /* margin-right: 5px; */
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: large;
    color: white;

}
.navbar-brand{
    color: white;
}
.navbar-brand:hover {
    color:grey;
}

#header1{
    background-color: black;!important
    color: white;!important
}
.nav-link {
    color: white;
}

.nav-item>a:hover {
    color: grey;
}
.active a{
    color:yellow !important;
  }
#navarbar_title{
   margin-right: 20%;
   font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
   font-size: x-large;
   font-weight: bolder;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
#ourGroup{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: black;
    color: white;
}
#publicationsList{
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    font-size: large;
    padding-bottom: 15px ;
    text-align: justify;
    
}
#data1{
    padding-top: 15px;
}
#heading2{
    text-align: center;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;


}
h4{
    color: red;
}
#graphabstract{
    padding:25px;
    margin-left: 25%;
    column-width: 300px;
    /* width: fit-content; */
}
#graphabstract1{
    padding:25px;
    margin-left: 15%;
    column-width: 400px;
    /* width: fit-content; */
}


img{
    width:100%;
    height:auto;
}
#navbarSupportedContent li{
    /* margin-left: 2px; */
    /* margin-right: 5px; */
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: large;

}
#navarbar_title{
   margin-right: 20%;
   font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
   font-size: x-large;
   font-weight: bolder;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
#byYear{
    margin-top: 100px;
}